/* === google font === */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,500;1,900&display=swap");

/* === base === */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 5rem 0;
}

.button a {
  padding: 15px 25px;
  background: #ffc73c;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 100px;
  box-shadow: 0px 18px 40px 12px #ffd36759;
  transition: 0.3s ease-out;
}

.button a:hover {
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px #ff9a3c40;
}

/* === home section === */
.home {
  background-image: url(asset/img/bg-desktop\ 1.png);
  width: 100%;
  height: 960px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;
}

.nav-menu {
  background: #ffffff80;
  backdrop-filter: blur(10px);
  border-radius: 100px;
  padding: 25px 35px;
}

#check {
  display: none;
}

.nav-icon svg {
  display: none;
}

.nav-item-group {
  gap: 51px;
}

.nav-item-group .nav-item {
  font-weight: 600;
  font-style: 16px;
  transition: 0.3s ease-out;
}

.nav-item .nav-link {
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.nav-item .nav-link:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}

.nav-item .nav-link-active {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(236.72deg, #326cff 0%, #59ffb9 50%, #326cff 100%);
  /* background: linear-gradient(257.55deg, #59ffb9 0%, #326cff 100%); */
  background-size: 350%;
  border-radius: 100px;
  transition: 0.3s ease-out;
}

.nav-link-active:hover {
  background-position: right center;
  /* transform: rotateZ(180deg); */
}

.home-group {
  height: 960px;
}

.home-group img {
  width: 686px;
  padding-bottom: 5rem;
}

/* === About section === */
.about-container {
  gap: 65px;
}

.about-group {
  gap: 30px;
}

.about-card,
.about-frame {
  width: 582px;
}

.about-card {
  padding: 32px;
  border-radius: 32px;
  gap: 30px;
}

.about-card,
.frame1,
.frame2,
.frame3 {
  background: linear-gradient(236.72deg, #326cff 0%, #59feb9 50%, #326cff 100%);
  background-size: 350%;
  transition: 0.3s ease-out;
}

.about-card:hover,
.frame1:hover,
.frame2:hover,
.frame3:hover {
  background-position: right;
}

.card-img,
.frame3-img {
  overflow: hidden;
  border-radius: 32px;
}

.card-img img,
.frame3-img img {
  transition: 0.3s ease-out;
}

.about-card:hover .card-img img,
.frame3:hover .frame3-img img {
  transform: scale(1.1);
}

.frame3-title {
  width: 310px;
}

.card-title {
  gap: 30px;
}

.card-title h1 {
  color: white;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  text-shadow: 0px 4px 4px #00000040;
}

.card-title p,
.frame1 p,
.frame2 p,
.frame3 p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.about-frame .frame1,
.about-frame .frame2,
.about-frame .frame3 {
  padding: 32px;
  border-radius: 32px;
  gap: 30px;
}

.frame1 h1,
.frame2 h1,
.frame3 h1 {
  color: white;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: 44px;
  text-shadow: 0px 4px 4px #00000040;
}

/* === sponsor section === */
.sponsor-section {
  background: linear-gradient(249.39deg, #59ffb9 -31.85%, #326cff 101.31%);
  gap: 30px;
}

.sponsor-section h1 {
  color: white;
  font-size: 36px;
  font-weight: 900;
  line-height: 44px;
}

.slider {
  gap: 20px;
}

.slide-track {
  gap: 20px;
  animation: slide 10s linear infinite;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* mobile device */
@media (max-width: 426px) {
  .home {
    background: url(asset/img/bg-mobile\ 1.png);
    width: 100%;
    height: 943px;
    background-position: center;
  }
  .navbar {
    padding: 2rem 1rem;
  }
  .nav-menu {
    padding: 16px 24px;
    background: #ffffff4d;
    box-shadow: 0px 1px 4px 0px #0000000d;
    border-radius: 32px;
  }
  .nav-list a img {
    width: 166px;
  }
  .nav-logo-group {
    width: 100%;
  }
  .nav-icon svg {
    display: block;
  }
  .nav-icon {
    width: 42px;
    height: 42px;
    background: #ffffffcc;
    border-radius: 100px;
    box-shadow: 0px 1px 4px 0px #0000000d;
  }
  .container {
    padding: 0 1rem;
  }
  .home-group img,
  .nav-item-group,
  .nav-item,
  .nav-link-active {
    width: 100%;
  }
  .home-group {
    justify-content: start !important;
    padding-top: 12rem;
    height: 231px;
  }
  .button a {
    font-size: 14px;
  }
  .nav-item-group {
    display: none !important;
    gap: 16px;
  }
  .nav-item-group.active {
    display: flex !important;
  }
  .nav-list {
    gap: 32px;
  }
  .nav-item-group {
    gap: 16px;
  }
  .nav-list,
  .nav-item-group {
    flex-direction: column;
  }
  .nav-item {
    text-align: center;
  }
  .nav-icon #close-icon {
    display: none;
  }
  #check {
    position: absolute;
    top: 2.2rem;
    right: 2.7rem;
  }
  #check:checked ~ .nav-icon #menu-icon {
    display: none;
  }
  #check:checked ~ .nav-icon #close-icon {
    display: block;
  }
  #check:checked ~ .nav-item-group #nav-item-group {
    display: block !important;
  }
  .about-group {
    flex-direction: column;
    width: 394px;
    gap: 27px;
  }
  .about-card,
  .about-frame {
    width: 394px;
  }
  .card-img img {
    width: 330px;
  }
  .about-frame {
    gap: 27px;
  }
  .about-frame .frame3 {
    flex-direction: column;
  }
  .frame3-img img {
    width: 330px;
  }
  .frame3-title {
    width: 100%;
  }
  .card-title h1,
  .frame1 h1,
  .frame2 h1,
  .frame3 h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
  }
  .card-title p {
    font-size: 14px;
    line-height: 17px;
  }
  .frame1 p,
  .frame2 p,
  .frame3 p {
    font-size: 16px;
    line-height: 20px;
  }
}
